@import 'https://fonts.googleapis.com/css?family=Open+Sans'; 


@font-face {
    font-family: "Neutraface Text";
    src: url('https://eres.geneseo.edu/libraryhours/fonts/NeutrafaceText-Book.eot');
    src: url("https://eres.geneseo.edu/libraryhours/fonts/NeutrafaceText-Book.eot?#iefix") format("embedded-opentype"),
         url("https://eres.geneseo.edu/libraryhours/fonts/NeutrafaceText-Book.woff2") format("woff2"),
         url("https://eres.geneseo.edu/libraryhours/fonts/NeutrafaceText-Book.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Neutraface Headings";
    src: url('https://eres.geneseo.edu/libraryhours/fonts/NeutrafaceText-Bold.eot');
    src: url("https://eres.geneseo.edu/libraryhours/fonts/NeutrafaceText-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://eres.geneseo.edu/libraryhours/fonts/NeutrafaceText-Bold.woff2") format("woff2"),
         url("https://eres.geneseo.edu/libraryhours/fonts/NeutrafaceText-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('https://eres.geneseo.edu/libraryhours/fonts/Material Icons'),
       local('https://eres.geneseo.edu/libraryhours/fonts/MaterialIcons-Regular'),
       url(https://eres.geneseo.edu/libraryhours/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://eres.geneseo.edu/libraryhours/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(https://eres.geneseo.edu/libraryhours/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
 
 
 .item {
	margin-top:5px;
	margin-right: 20px;
	margin-left: 10px;
	padding-bottom:5px;
clear:both;
 }
	
	   .item .medium{
background-size: cover;
      width: 160px;
      height: 160px;
float: left;
margin-top:5px;
margin-right: 10px;
margin-bottom: 0px;
padding-bottom: 0px;
border: 1px solid #345290;

    }
	
.info {
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	}
	

    .more{margin-top:0px;}
	
	h3, .item h3, .item h3 a
	{
	font-family: "Open Sans",sans-serif;
	color:#345290;
	 font-size: 20px;
	 margin-top:0px;
	margin-bottom: 0px;
	line-height:24px;
	padding-top:0px;
	padding-bottom:0px;}	
	
#post_feed p, .item p, .desc p, .info p{
font-family: "Open Sans",sans-serif;
font-size: 14px !important;
margin-top:0px;
padding-top:0px;
margin-bottom: 0px;
padding-bottom:0px;
}	

a, a:link, a:visited, a:active, a:hover{
text-decoration:none;
}